<div class="banner">
  <div class="wrapper-intro">
    <h1>Discover awesome cocktails</h1>
    <%= link_to 'Create cocktail', new_cocktail_path, class: "btn btn-primary" %>
    <%= link_to 'See ingredients', ingredients_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
          <div class="card-description">
            <h2> <%= cocktail.name %> </h2>
            <p> <%= cocktail.reviews.count %> reviews </p>
          </div>
          <img class="card-user avatar" src="user.jpg">
          <%= link_to "Show cocktail details", cocktail_path(cocktail) %>
          <%= link_to "Delete cocktail", cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    <% end -%>
  </div>
</div>


