<div class="banner">
  <div class="wrapper-intro">
    <h1>Discover awesome cocktails</h1>
    <%= link_to 'Create cocktail', new_cocktail_path, class: "btn btn-primary" %>
    <%= link_to 'See ingredients', ingredients_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container">
<% @cocktails.each do |cocktail| %>
  <hr>
  <p><%= cocktail.name %></p>
  <p><%= link_to "Show cocktail details", cocktail_path(cocktail) %></p>
  <p><%= link_to "Delete cocktail", cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } %></p>
<% end -%>
</div>


<div class="wrapper-main">

</div>



